<div class="container col-md-6">
  <div class="card">
    <div class="card-header">
      <h3>Registro De Usuarios</h3>
    </div>
    <div class="card-body">
      <form >
        <div class="form-group">
          <label>Nombre:</label>
          <input required type="text" class="form-control" [(ngModel)]= "user.name" name="name" />
        </div>
        <div class="form-group">
          <label>Fecha de Nacimiento:</label>
          <input required type="date" min="1900-01-01" max="2005-12-31" class="form-control" [(ngModel)]= "user.birthDate" name="birthDate" />
        </div>
        <div class="form-group">
          <select required class="browser-default custom-select" [(ngModel)]="user.idDependency" name="dependency">
            <option disabled selected>Seleccione Dependencia</option>
            <option *ngFor="let dependency of listDependency" value="{{dependency.idDependency}}">{{dependency.nameDependency}}</option>
          </select>
        </div>
        <div class="form-group">
          <div class="custom-control custom-switch">
            <input required name="status" type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]= "user.status" />
            <label class="custom-control-label" for="customSwitch1">Estado</label>
          </div>
        </div>
        <button type="submit" (click)="save()" class="btn btn-danger">Guardar</button>
      </form>
    </div>
  </div>
</div>
